<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>{{data.title}} detail</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1>{{data.title}} detail</h1>
        <hr>

        <h1>overview</h1>
        <img src="{{data.overwiew_image}}" width="500">
        {% for i in data.image_list %}
        <img src="{{i}}" width="500">
        {% endfor %}
        <p>{{data.description}}</p>

        <h1>detail</h1>

        <h2>product</h2>
        <ul>
            <li><a href="{{data.product_url}}">{{data.product_name}}</a></li>
        </ul>        

        <h2>distributor</h2>
        <ul>
        {% for d in data.distributor_list %}
            <li><a href="{{d.url}}">{{d.name}} (price: {{d.price}})</a></li>
        {% endfor %}
        </ul>        
        <hr>

        <p>powered by roborecipe</p>
    </body>
</html>